{{- $code := lookPath "code" -}}
{{- $cursor := lookPath "cursor" -}}
{{- $codeInstalled := dict -}}
{{- if $code -}}
  {{- range (output "env" "NODE_NO_WARNINGS=1" $code "--list-extensions" | trim | splitList "\n") -}}
    {{- $_ := set $codeInstalled (lower .) true -}}
  {{- end -}}
{{- end -}}
{{- $cursorInstalled := dict -}}
{{- if $cursor -}}
  {{- range (output "env" "NODE_NO_WARNINGS=1" $cursor "--list-extensions" | trim | splitList "\n") -}}
    {{- $_ := set $cursorInstalled (lower .) true -}}
  {{- end -}}
{{- end -}}
{{- $codeMissing := list -}}
{{- if $code -}}
  {{- range .editorExtensions.vscode -}}
    {{- if not (hasKey $codeInstalled (lower .)) -}}
      {{- $codeMissing = append $codeMissing . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $cursorMissing := list -}}
{{- if $cursor -}}
  {{- range .editorExtensions.cursor -}}
    {{- if not (hasKey $cursorInstalled (lower .)) -}}
      {{- $cursorMissing = append $cursorMissing . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if or (gt (len $codeMissing) 0) (gt (len $cursorMissing) 0) -}}
#!/bin/sh
set -eu

export NODE_NO_WARNINGS=1

{{ range $codeMissing -}}
{{ $code | quote }} --install-extension {{ . | quote }}
{{ end -}}
{{ range $cursorMissing -}}
{{ $cursor | quote }} --install-extension {{ . | quote }}
{{ end -}}
{{- end -}}
